* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.app__header {
  width: 100%;
  height: 456px;
  background-image: linear-gradient(147deg, #ff5c2e, #b21376);
  color: #fff;
  font-size: 18px;
}
.current-wrapper {
  max-width: 468px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
}
.current-value {
  font-size: 70px;
}
.current-box {
  text-align: right;
}
.current-box > p {
  font-size: 15px;
}
.board-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}
.grey{
  background-color: #fbfcff;
  padding: 40px 0;
}
.expenses,
.income {
  width: 50%;
  padding: 0 20px;
}
.total {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.total p {
  text-align: right;
  font-size: 50px;
  font-weight: 600;
}
.total span {
  font-size: 20px;
}
.total h2 {
  font-size: 15px;
}
.income .total {
  color: #2fe3a1;
}
.expenses .total {
  color: #f71349;
}
h1,
h2 {
  font-weight: 400;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  border-top: 1px solid #edeff5;
  padding: 16px 8px;
}
li:last-child {
  border-bottom: 1px solid #edeff5;
}
li strong {
  font-size: 20px;
}
.remove {
  background-image: url(/img/remove.svg);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  float: right;
  margin-left: 15px;
}
.pigImage,
.remove {
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.pigImage {
  height: 250px;
  width: 250px;
}
.happy {
  background-image: url(/img/happy.png);
}
.normal {
  background-image: url(/img/normal.png);
}
.unhappy {
  background-image: url(/img/unhappy.png);
}
.dead {
  background-image: url(/img/dead.png);
}
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.form-group{
  display: block;
  width: 33%;
  position: relative;
}
form div {
  border: 0;
  display: flex;
}

label {
  margin: 0 10px;
    position: absolute;
    top: -35px;

}
input {
  border: none;
  outline-color: transparent;
  outline: none;
  margin: 0;
  padding: 10px;
  border-radius: 1.5rem;
  cursor: pointer;
}
input[type="text"] {
  margin-right: 20px;
}
input[type="submit"] {
  min-width: 160px;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background: #ffd102;
  color: #fff;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  -webkit-transition: background 0.25s ease-in-out, -webkit-transform 0.15s ease;
  transition: background 0.25s ease-in-out, -webkit-transform 0.15s ease;
  transition: background 0.25s ease-in-out, transform 0.15s ease;
  transition: background 0.25s ease-in-out, transform 0.15s ease,
    -webkit-transform 0.15s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  background: #ffd772;
}
/* input[type="submit"]:focus {
  
} */

input[type="submit"]:active {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}
input[type="radio"] {
  padding: 20px;
  width: 150px;
  text-align: left;
}
i {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.app__btn {
  min-width: 160px;
  padding: 10px 20px;
  margin: 0;
  text-decoration: none;
  background: #fff;
  border: solid 1px #d7dbe4;
  border-radius: 20px;
  color: #040a1a;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  -webkit-transition: background 0.25s ease-in-out, -webkit-transform 0.15s ease;
  transition: background 0.25s ease-in-out, -webkit-transform 0.15s ease;
  transition: background 0.25s ease-in-out, transform 0.15s ease;
  transition: background 0.25s ease-in-out, transform 0.15s ease,
    -webkit-transform 0.15s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
button.app__btn:focus,
button.app__btn:hover {
  border-color: #f71349;
  color: f71349;
  font-weight: bold;
}
button.app__btn:focus {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

@media only screen and (max-width: 900px) {
  form{
    flex-direction: column;
  }
  input[type="submit"] {
    width: 150px;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 780px) {
  form, form > div {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 100%;
  }
  input{
    width: 200px;
    margin: 0 auto;
  }
  input[type="text"] {
    margin: 0 auto;
}
  .app__header {
    height: 100%;
  }
  label {
    margin: 0 auto;
    position: relative;
    top: 0;
  }
  .board-wrapper {
   
    display: block;

}

.income {
  width: 90%;
  margin: 0px auto;
}
.expenses{
  width: 90%;
  margin: 50px auto;
}
}